body {
    font-family: Verdana;
}

ul,li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies {
   display: flex;
   gap: 2rem;
   flex-wrap: wrap;
}

.movie {
   border: solid 1px rgba(16, 149, 193, 0.125);
   border-radius: 1rem;
   padding: .5rem;
   width: 15rem;
}
